		#mainContainer {
			width: 1000px;
			display: block;
			margin: auto;
		}
		
		#header {
			background: black;
			color: white;
			text-align: center;
			padding: 5px 0px 5px 0px;
		}
		
		#navigation {
			background: salmon;
			text-align: center;
			padding: 2px;
		}
		
		#content {
			background:black;
			border-top: 1px solid white;
			border-bottom: 1px solid white;
			padding: 10px;
		}
		
		a {
			color: white;
			text-decoration: none;
			padding: 0px 10px 0px 10px;
		}
		
		h2 {
			color: white;
			padding-left: 5px;
			text-align: center;
		}
		
		p {
			color: white;
			font: Helvetica;
		}
		
		img {
			width: 1000px;
			margin: auto;
			display: block;
			padding: 0;
		}
		
		.menu_images img {
			width: 50%;
			display: inline;
			float: left;
		}
		
		footer {
			color: white;
			background: black;
			text-align: center;
			padding: 5px;
		}
		
		ul {
			list-style: none;
			color: white;
		}
		
		a {
			color: white;
			text-decoration: none;
			padding: 0px 10px 0px 10px;
		}
		
		.container {
   			 margin: 10px 4%;
		}
		
		.row {
   			 width: 100%;
   			 margin-bottom: 20px;
    		 display: block;
		}
		
		.container::after, .row::after {
    		clear: both;
    		display: table;
    		content: "";
		}
		
		.col {
   			float: left;
    		display: block;
		}
		
		.col:last-child {
    		margin: 0;
		}
		
		.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
		.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    		width: 100%;
   			float: left;
    		display: block;
		}
		
		.col img {
   			width: 100%;
		}

		
		
		@media (min-width: 768px) {
   			 body {
       			 color: white;
   			 }
    		#mainContainer {
       			width: 750px;
        		margin: 15px auto;
        	 }
   			 .col-2 {
     		   margin-right: 2.35765%;
    			width: 14.70196%;
   			 }
  		 	 .col-3 {
     		   margin-right: 2.35765%;
   	   		  width: 23.23176%;
   			 }
   			 .col-4 {
        		margin-right: 2.35765%;
        		width: 31.76157%;
   			 }
    		.col-6 {
       			 margin-right: 2.35765%;
       			 width: 48.82117%;
       		 }
		}

		@media (min-width: 992px) {
   			 body {
        		color: white;
   			 }
    		 h1 {
       			font-size: 3em;
   			 }
    		 #mainContainer {
       			 width: 960px;
       			 margin: 20px auto 5px;
   			 }
		}

		@media (min-width: 1200px) {
    		body {
       			 color: white;
   			}
    		#mainContainer {
       			 width: 1000px;
        		 margin: 40px auto 10px;
    		}
   			h1 {
        		font-size: 3.75em;
        		font-weight: 200;
    		}
		}

		
		
		
		
		